.about-me {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  text-align: center;
  margin-bottom: 50px;

  p {
    text-align: justify;
  }

  button {
    text-transform: uppercase;
    background-color: #0098d3;
    border-color: #0098d3;
  }
}
